/* App.css */
body {
  font-family: 'Courier New', Courier, monospace;
}

.App {
  height: 100vh;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}

.input-container {
  text-align: center;
  width: 50%;
  padding: 50px;
  animation: glow 2s ease-in-out infinite alternate;
  position: relative;
}

.input-field {
  border: 2px solid #0f0;
  color: #0f0;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 0 10px #0f0;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.input-field:focus {
  box-shadow: 0 0 20px #0f0;
}

.result-text {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  animation: text-flicker 1.5s linear infinite;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.loading-text {
  color: #0f0;
  font-size: 1.2em;
  margin-top: 20px;
  animation: text-flicker 1s linear infinite;
}

.refresh-button {
  background-color: transparent;
  color: #0f0;
  border: none;
  font-size: 1.5em;
  transition: color 0.3s ease-in-out;
}

.refresh-button:hover {
  color: #00ff00;

}

.show-result-button {
  background-color: #303030;
  color: #0f0;
  border: 1px solid #0f0;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 5px #0f0;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.show-result-button:hover {
  background-color: #404040;
  box-shadow: 0 0 15px #00ff00;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
  }
  50% {
    box-shadow: 0 0 25px #0f0, 0 0 35px #0f0, 0 0 45px #0f0, 0 0 55px #0f0, 0 0 65px #0f0;
  }
  100% {
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
